body {
    background: linear-gradient(135deg, #F88379, #DE3163);
    margin: 0; /* Remove default margin */
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.image {
    background-image: url("https://ih1.redbubble.net/image.1580960717.6145/raf,750x1000,075,t,FCD9D9:9126c0bfe7.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto;
    border: 5px solid #fdf5e6;
}

a {
    font-size: large;
}

.links-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%; /* Fill the width */
    margin-top: 40px;
}

.links-container a {
    width: 90%; /* Fill most of the width */
    padding: 15px; /* Increase padding for bigger buttons */
    font-size: 20px; /* Increase font size */
    color: #414345 !important;
    transition: 0.2s;
}

.profession {
    margin-top: 10px !important;
}

.profession span {
    font-size: 14px;
}
.about-me{
    margin-top: 2px;
}
.about-me h3{
    font-size: 50px;
    font-weight: bolder;
}
.about-me p{
    font-size: 20px;
}

.links-container h3{
    font-size: 40px;
    font-weight: bolder;
    color: white;
}
.icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.icons a {
    text-decoration: none;
}

.icons a svg {
    width: 40px;
    height: 40px;
    fill: #fdf5e6 !important;
    transform: scale(1);
}

.contact {
    text-align: center;
    color: #fdf5e6;
    margin-top: 5px; /* Space above */
}

.contact .info {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.contact .info span {
    font-size: large; /* Increase font size */
}

.contact .info a {
    color: #fdf5e6; /* Change link color */
    text-decoration: none; /* Remove underline */
    font-size: 5px; /* Increase link font size */
}
.contact p{
    font-size: 30px;
    font-weight: bolder;
}

.resume {
    display: flex;
    justify-content: space-between; /* Spread columns evenly */
    width: 100%; /* Full width */
    margin-top: 20px; /* Space above */
}

.resumeContainer {
    display: flex;
    flex: 1; /* Allow columns to take equal space */
    width: 100%; /* Full width */
}

.column {
    flex: 1; /* Each column takes equal width */
    padding: 20px;
    background-color: #AA336A;
    background: linear-gradient(135deg, #F88379, #DE3163);
    border: 1px solid #ccc;
    margin: 0; /* No margin */
}
.column h3{
    font-weight: bold;
    margin-bottom: 30px; 
}

.resume h3 {
    margin-bottom: 30px; /* Adjust margin as needed */
}
h3{
    font-family: 'Garamond', serif;
    font-size: 30px;
}

.timeline {
    list-style-type: none;
    position: relative;
}

.timeline:before {
    content: '';
    background: #fff;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 1;
}

.timeline li {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    background: #fff;
}

.timeline li h4 {
    background-color: #000;
    padding: 5px 0 5px 20px;
    font-size: 20px;
    font-weight: bold;

}

.timeline li h4 span {
    font-weight: bold;
    color: #ccc;
}
.timeline li p{
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
}

.timeline li:before{
    content: '';
    background: #fff;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #000;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 1;
}